.egg {
    fill: #43b1b0;
    -webkit-animation: pos 3s ease infinite;
    animation: pos 3s ease infinite;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transform-origin: 50% 80%;
    transform-origin: 50% 80%;
}
